# EditorConfig - NonProfit Finance
# https://editorconfig.org

root = true

# All files
[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C# files
[*.cs]
indent_size = 4

# Code style - Namespace
csharp_style_namespace_declarations = file_scoped:suggestion

# Code style - Using directives
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:suggestion

# Code style - Braces
csharp_prefer_braces = true:suggestion

# Code style - Expression-bodied members
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_accessors = true:suggestion

# Code style - Pattern matching
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:suggestion

# Code style - Null checking
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion

# Code style - var usage
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion

# Naming conventions
dotnet_naming_rule.private_fields_should_be_camel_case.severity = suggestion
dotnet_naming_rule.private_fields_should_be_camel_case.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_camel_case.style = camel_case_underscore

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.camel_case_underscore.capitalization = camel_case
dotnet_naming_style.camel_case_underscore.required_prefix = _

# Razor files
[*.razor]
indent_size = 4

# JSON files
[*.json]
indent_size = 2

# JavaScript files
[*.js]
indent_size = 4

# CSS files
[*.css]
indent_size = 4

# XML/CSPROJ files
[*.{xml,csproj,props,targets}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_size = 2
